# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
ios/
android/
macos/
linux/
windows/

# Firebase config files (optional, depending on your needs)
# google-services.json
# GoogleService-Info.plist

# IDE specific files
.idea/
.vscode/
*.iml
